{% extends "base.html" %}
{% block content %}
<div class="container mt-5">
    <h1 class="text-center mb-4">Contact Us</h1>
    <p class="text-center">We'd love to hear from you! If you have any questions, suggestions, or just want to say hi,
        feel free to reach out to us.</p>
    <div class="row mt-5 justify-content-center">
        <div class="col-md-6">
            <div class="card mb-4">
                <div class="card-body text-center">
                    <h5 class="card-title">Email</h5>
                    <p class="card-text">
                        <a href="mailto:shasholko.sveta@gmail.com">shasholko.sveta@gmail.com</a>
                    </p>
                </div>
            </div>
            <div class="card mb-4">
                <div class="card-body text-center">
                    <h5 class="card-title">Facebook</h5>
                    <p class="card-text">
                        <a href="https://www.facebook.com/shasholkos/" target="_blank">Visit My Facebook</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}