{% extends "base.html" %}
{% block background %}
<div class="first-screen"></div>
{% endblock %}
{% block content %}

<div class="jumbotron text-center">
    <h1 class="display-4">Welcome to the Fashion Outfit Generator!</h1>
    <p class="lead">Create the perfect outfit for any occasion and weather.</p>
    <hr class="my-4">
    <p>Get started by logging in or registering if you don't have an account.</p>
    <a class="btn btn-primary btn-lg" href="{{ url_for('login') }}" role="button">Login</a>
    <a class="btn btn-secondary btn-lg" href="{{ url_for('register') }}" role="button">Register</a>
</div>

{% endblock %}